body {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    text-align: left;
    color: #2c3e50;
    background-color: #F2F2F2;
}

.grid-container {
    max-width: 1200px;
    max-height: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr 1.5fr;
    grid-template-rows: 1fr 7fr;
    grid-template-areas:
        "main   main    header"
        "main   main    portrait";

    height: 100vh;
    margin: auto;
    padding: 20px;
}

.flex-item {
    max-width: 350px;
    margin: 30px;
}

main {
    grid-area: main;
    background: #C2DCF2;
}

main h1 {
    font-size: 2.4em;
    font-weight: bold;
    margin: 30px;
}

main p {
    font-size: 1.2em;
    margin: 30px;
    margin-right: 120px;
}

header {
    grid-area: header;
    background-color:#475159;
    text-align: center;
}

header li {
    display: inline;
}

#link {
    font-size: 1.1em;
    display: inline-block;
    color: white;
    padding: 30px 40px;
    text-decoration: none;
}

#link:hover {
    background-color: #7A8B99;
}

.portrait {
    padding: 30px;
    grid-area: portrait;
    background: #ADC5D9;
    
}

.portrait img {
    width: 100%;
}