body {
    margin: 0px;
    padding: 0px;
}   

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center; 
}

#content {
    width: 70%;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}